.welcome-message {
    display: none;
    text-align: center;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    animation-duration: 1s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  